<footer class="site-footer">

<div class="wrapper">

<div class="footer-col-wrapper">

    <div class="footer-col footer-col-sm">
      <a class="site-title" href="{{ site.baseurl }}/"></a>
    </div>

  <div class="footer-col footer-col-sm">
    <p class="footer-heading">Product</p>
    <ul class="footer-list">
        <li>Features</li>
        <li>How It Works</li>
        <!-- <li>API Docs</li> -->
        <!-- <li>Integrations</li> -->
        <li>Pricing</li>
    </ul>
  </div>

  <div class="footer-col footer-col-sm">
    <p class="footer-heading">Company</p>
    <ul class="footer-list">
        <li>About Us</li>
        <!-- <li>Blog</li> -->
        <li>Privacy Policy</li>
        <!-- <li>Terms</li> -->
    </ul>
  </div>

  <div class="footer-col footer-col-sm">
    <p class="footer-heading">Help</p>
    <ul class="footer-list">
        <li>FAQ</li>
        <li>Contact Sales</li>
        <li>Request Demo</li>
    </ul>
  </div>

  <div class="footer-col footer-col-lg">
    <p class="footer-heading">&nbsp;</p>
    <ul class="footer-list">
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
    </ul>
  </div>

</div>

</div>

</footer>
