<header class="site-header" role="banner">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/"></a>

    <nav class="nav-collapse">
		<ul>
			<li><a href="#">Features</a></li>
			<li><a href="#">Case Studies</a></li>
			<li><a href="#">Pricing</a></li>
			<li><a href="#">About</a></li>
            <li><a href="#">FAQ</a></li>
	 	</ul>

        <ul>
			<!-- <li><a href="#" class="cta-trial">Free Trial</a></li> -->
			<li><a href="#" class="cta-demo">Watch a Demo</a></li>
	 	</ul>
	</nav>

  </div>

</header>
