.hero_home {
    background: #fff;
    background-image: url('../img/bg-clouds.png');
    background-size: cover;
    border-bottom: $base-font-size * 2.5 solid $brand-color;
    padding: $base-font-size * 8 0 $base-font-size * 4;
    text-align: center;

    .hero--button {
        display: inline-block;
        margin-top: $base-font-size * 2;
    }

    .hero--arrow {
        cursor: pointer;
        display: block;
        margin: 0 auto;
        margin-top: $base-font-size * 3;
        transition: $transition-time;
        width: 50px;

        &:hover {
            transform: translateY(4px);
        }
    }

}

.features {

    .features--example {
        display: flex;

        .features--text {
            flex: 1;
            min-height: 250px;

            h2 {
                line-height: 1.2;
                opacity: 0.7;
            }

            p {
                font-size: $base-font-size * 1.3;
            }
        }
        .features--image {
            flex: 2;
            min-height: 200px;
            padding-bottom: $base-font-size * 4;
        }

        .features--image {
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }

        .features--image_personalize {
            background-image: url('../img/eg-1.png');
        }

        .features--image_crm {
            background-image: url('../img/eg-2.png');
        }

        .features--image_manage {
            background-image: url('../img/eg-3.png');
        }
    }

}

@media screen and (min-width: 40em) {
    .hero--subheader {
        max-width: 50%;
        margin: 0 auto;
    }

    .features--example {
        padding-top: $base-font-size * 4.5;
    }

    .features--example:nth-child(odd) {
        flex-direction: row-reverse;
    }
}

@media screen and (max-width: 39em) {
    .features--example {
        flex-direction: column-reverse;
        padding-top: $base-font-size * 2.5;
    }
}
